<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">
    <h1>Personalize Resume</h1>
    </div>
    <div class="discription">
        <p>
            An inovative way to build your resume with the customization of job description.
         </p>
    </div>
    <!--Waves Container-->
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->
    
    </div>
    <!--Header ends-->
    
    <!--Content starts-->
    <div class="content-flex">
        <div class="Upload-page">
            <div class="form">
                <h2>Download the file</h1>
              <form class="FileDownload" action="./oresume" method="GET">
                <input type="submit" value="Get New Resume">
                </form>
                <form class="FileDownload" action="./ocover" method="GET">
                    <input type="submit" value="Get New Cover Letter">
                </form>
            </div>
          </div>
    </div>
    <!--Content ends-->
</body>
</html>
